

<section id="addTasks">
  <header>
    Enter the following information to add a new task!
    <br>
    <menu> 
      @if (isAddingTask){
        <app-new-task />
      }
    </menu>
   </header>  
</section>


<section id="tasks">
  <header>
    <h2>{{ name }}'s &nbsp;&nbsp;&nbsp;&nbsp; Tasks</h2>
    <!-- Need to get the value of name from the DOM within script block -->
    <!-- <script> 
        document.write('<h2> {{ name }}  \'s' + Array(10).fill('\xa0').join('') + 'Tasks</h2>');
        document.write('<h2> {{ name }} \'s' + '\xa0'.repeat(10) +' Tasks</h2>');
    </script> -->

    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>

  <ul>
    @for (task of selectedUserTasks; track task.id) {
      <li>
        <app-task [task]="task"  (complete)="onCompleteTask ($event)"/>
      </li>
    }
  </ul>
</section>

